.chatcontrol{
  float: left;
  width: 100%;

  .chatinput{
    width: 70%;
    float: left;
    border-radius: 20;
  }

  .sendbtn{
    width: 29%;
    float: left;
    border-radius: 20;
    text-transform: uppercase;
    margin-left: 1px;
    background: linear-gradient(135deg, #0143a3, #0273d4);
  }
}
