.message {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
}

.timeform {
  float: left;
  width: 100%;

  i {
    margin-left: 20px;
  }

  .timestamp{
    font-size: 0.6em;
  }
}

.avatar{
  width: 40px;
  margin-right: 10px;
  margin-left: 10px;
}

.optionButton {
  background-color: lightskyblue;
  border: none;
  color:black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 15px;
  width: 100%;
}

.botsay {
  position: relative;
  /*background: #c7d0d1;*/
  background: #ffffff;
  border-radius: .8em;
  padding: 10px;
}

.botsay:after {
	content: '';
	position: absolute;
	left: 0;
	top: 30%;
	width: 0;
	height: 0;
	border: 17px solid transparent;
  /*border-right-color: #c7d0d1;*/
  border-right-color: #ffffff;
	border-left: 0;
	border-top: 0;
	margin-top: -4px;
	margin-left: -8px;
}

.usersay {
  position: relative;
  background: #8dc3dc;
  border-radius: 0.8em;
  padding: 10px;
  color: #ffffff;
}

.usersay:after {
  content: '';
  position: absolute;
  right: 0;
  top: 20%;
  width: 0;
  height: 0;
  border: 17px solid transparent;
  border-left-color: #8dc3dc;
  border-right: 0;
  border-bottom: 0;
  margin-top: -4px;
  margin-right: -8px;
}
