.message {
  font-size: 1em;
  font-style: italic;
  font-weight: 400;
}

.timeform {
  float: left;
  width: 100%;

  i {
    margin-left: 20px;
  }

  .timestamp{
    font-size: 0.6em;
  }
}

.avatar{
  width: 50px;
  margin-right: 20px;
}

.optionButton {
  background-color: lightskyblue;
  border: none;
  color:black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  border-radius: 15px;
  width: 100%;
}
