.scroll-container {
  position: relative;
  min-height: 0;
  border: 1px solid #ccc;
  background-color: #fff;
  background-image:url('../../../assets/images/backgroun2.jpg');
}

.scrollable-content {
  height: 420px;
  padding-left: 0px;
  padding-right: 1px;
  margin: 0;
}
