.scroll-container {
  position: relative;
  min-height: 0;
  border: 1px solid #ccc;
  background-color: #fff;
}

.scrollable-content {
  height: 400px;
  padding-left: 0px;
  padding-right: 1px;
  margin: 0;
}
